#back{
    
    background: url(skocko_dodatno/back.png) no-repeat center center fixed;
    background-size: 100% 100%;
    
    

}



.table{
    width:100% !important;
    margin-right:0% !important;
    max-width:100% !important;
    border-spacing: 0px !important;
    
}
.table tr{
    border:none;
}
.table td{
    border:none;
    padding:9px !important;
}

img{
    width:auto;
    height:50px;
}
#brojac{
    font-size: 40px;
}
.table .btn-light{
    border:none;
    margin-top: 10px;
    margin-left:30px;
    margin-right: 30px;
}

.razmak{
    margin-left: 30px;
}

.table button{
    border:none;
}

.table div{
    background-color: lightgray;
    width:30px;
    height:30px;
    margin-top: 10px;
}

.uputstvo_div{
    background-color: lightgray;
    width:30px;
    height:30px;
    margin-top: 10px;
    display: inline-block;
}

.uputstvo_div2{
    width:20px;
    height:20px;
    display: inline-block;
}
.crv{
    background-color: red;
}
.zut{
    background-color:yellow;
}



#forma{
    font-size: 30px;
    font-weight: bold;
    border-collapse: separate !important;
    border-spacing: 0 30px !important;
    margin-left:20px !important;
}

#forma td{
    padding:0px !important;
}



#sadrzaj{
    margin-top: 60px;
}

.scroller{
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 4.5%;
    padding-top: 0px !important;
}

html,body{
    height:96%;
    width:100%;
}

.scroller::-webkit-scrollbar{
    display: block;
    width:5px;
}

.scroller::-webkit-scrollbar-track{
    background: transparent;
}
.scroller::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.5);
}

.scroller::-webkit-scrollbar-track-piece:start{
    background: transparent;
    margin-top: 10px;
}
.scroller::-webkit-scrollbar-track-piece:end{
    background: transparent;
    margin-bottom: 10px;
}


#uputstvo_naslov{
    font-size: 30px;
    font-weight: bold;
}


.uputstvo_sadrzaj{
    margin-left: 8%;
    margin-right: 8%;
    font-size: 20px;
    font-weight: bold;
}

.uputstvo{
    margin-top: 5% !important;
    height: 80% !important;
}


#igrac{
    font-size: 40px;
    font-weight: bold;
}


.ikonice{
    cursor: pointer;
}